<header id="page-header">

    <div class="wall-carousel">
        <div class="wall-background wall-background-index-0"></div>
    </div>
    <div class="wall-dark-layer"></div>


    <div class="top-bar-container">

        <nav class="top-bar hidden-for-large-up" role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="/">
                            <img id="site-logo" src="/img/logo/white-logo.png" alt="Shellino Vacations" />
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon right-off-canvas-toggle">
                    <a href="#"><span>Menu</span></a>
                </li>
            </ul>
        </nav>

        <nav class="top-bar visible-for-large-up" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="/">
                            <img id="site-logo" src="/img/logo/white-logo.png" alt="Shellino Vacations" />
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
                <li class="menu-icon">
                    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </li>
            </ul>

            <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="#">Shellino</a></li>
                    <li><a href="#">India</a></li>
                    <li><a href="#">Guide</a></li>
                    <li><a href="#">Stories</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>

                <!-- Right Nav Section -->
                <ul class="right">
                    <li>
                        <a class="two-row-menu" href="#">
                            <svg class="header-icon icon-telephone" viewBox="0 0 1 0.95"><use xlink:href="/svg/sprite.symbol.svg#icon-telephone"></use></svg>
                            <span>+91 8888882415</span>
                        </a>
                        <a class="two-row-menu" href="#">
                            <svg class="header-icon icon-close-email" viewBox="0 0 1 0.95"><use xlink:href="/svg/sprite.symbol.svg#icon-close"></use></svg>
                            <span>info@shellinovacations.com</span>
                        </a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>

    <div class="tag-line-container text-center">
        <h2 class="tag-line">{{tagLine}}</h2>
        {{#if breadcrumbs}}
        <ul class="breadcrumbs text-center master-breadcrumb">
            <li><a href="/">Home</a></li>
            {{#each breadcrumbs}}
                {{#if @last }}
                <li>{{this.label}}</li>
                {{else}}
                <li><a href="{{this.url}}">{{this.label}}</a></li>
                {{/if}}
            {{/each}}
        </ul>
        {{else}}
        <p class="tag-line-sub">{{subLine}}</p>
        {{/if}}
    </div>

</header>